<template lang="html">
  <section class="group">
    <input :type="inputType" :class="inputClass" :placeholder="InputPlaceholder" v-model="inputValue" @keyup="search"
    @keydown.down.prevent="changeActiveIndex('down')"
    @keydown.up.prevent="changeActiveIndex('up')"
    @keydown.up.enter="emitValue(activeIndex)"
    >
    <div class="selector-list">
      <div class="select-line" :class="{'select-line-active': activeIndex == index}" v-for="(elem, index) in searchedList" :key="index" @click="emitValue(index)">
        {{elem[displayKey]}}
      </div>
    </div>
  </section>
</template>

<script>
import FuzzySearch from 'fuzzy-search'

export default {
  props: {
    inputType: {type: String, default: 'text'},
    inputClass: {type: String, default: ''},
    InputPlaceholder: {default: ''},
    list: {type: Array, required: true},
    displayKey: {type: String, required: true},
    valueKey: {type: String, required: true}
  },
  data: () => {
    return {
      inputValue: '',
      searchedList: [],
      activeIndex: 0,
    }
  },
  methods: {
    search(e) {
      if (e.key == 'Enter' || e.key == 'ArrowUp' || e.key == 'ArrowDown') {
        return
      }
      if (this.inputValue == '') {
        this.searchedList = this.list
        this.$emit('listValue', '')
      }
      const searcher = new FuzzySearch(this.list, [this.displayKey])
      const found = searcher.search(this.inputValue)
      this.activeIndex = 0
      this.searchedList = found
    },
    emitValue(index) {
      this.inputValue = this.searchedList[index][this.displayKey]
      this.$emit('listValue', this.searchedList[index][this.valueKey])
    },
    changeActiveIndex(sign) {
      switch (sign) {
        case 'down':
          if (this.activeIndex != this.searchedList.length-1) {
            this.activeIndex += 1
          }
          break;
        case 'up':
          if (this.activeIndex != 0) {
            this.activeIndex -= 1
          }
          console.log(this.activeIndex);
          break;
      }
    }
  },
  created() {
    this.searchedList = this.list
  }
}
</script>

<style lang="css">
  .group {
    width: 100%;
  }
  .group:focus-within > .selector-list {
    height: auto;
    max-height: 300px;
    overflow: auto;
    position: absolute;
  }
  .group:active > .selector-list {
    height: auto;
    max-height: 300px;
    overflow: auto;
    position: absolute;
  }
  .selector-list {
    height: 0px;
    width: inherit;
    overflow: hidden;
    background-color: white;
  }
  .select-line {
    cursor: pointer;
    background-color: white;
    margin-bottom: 2px;
    width: 100%;
    min-height: 25px;
    border: 1px solid lightgray;
    padding-left: 10px;
    opacity: .7;
    transition: transform 1s
  }
  .select-line:hover {
    opacity: 1;
  }
  .select-line-active {
    opacity: 1;
    background-color: whitesmoke;
  }
</style>
